
@media (max-width: 766px) {
  #sideNavButton {
    display: none;
  }
}
@media (min-width: 767px) {
  .MuiBottomNavigationAction-root {
    display: none !important;
  }
}

/* Override font style on input field */
.MuiInputLabel-outlined{
  color: black !important;
}
/* Override font style on active BotNavBar */
.MuiBottomNavigationAction-wrapper {
  color: white !important;
}
